@font-face {
    font-family: 'Metropolis';
    src: url("https://gateway.pinata.cloud/ipfs/QmbQM4z619kBP8oBRpurMR5ctfEz5zJzrezJfb3BZ3SFE9") format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis';
    src: url("https://gateway.pinata.cloud/ipfs/QmTSBaF3b9tLkM9S4s7Br3a2Yz9CwekESJysuCxdWYgtWr") format('opentype');
    font-weight: bold;
    font-style: normal;
}
